﻿@model IEnumerable<MyWeb_12110027.Models.Post>

@{
    ViewBag.Title = "BaiVietCuaBan";
}
@Html.Partial("_TrangCuaBanPartial")
<h2>Bài viết của bạn</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TieuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingPost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingPost)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "EditYourPost", new { id = item.PostID }) |
                @Html.ActionLink("Chi Tiết", "DetailsYourPost", new { id = item.PostID }) |
                @Html.ActionLink("Xóa bài viết", "DeleteYourPost", new { id = item.PostID })
            </td>
        </tr>
    }

</table>