﻿@model MyWeb_12110027.Models.Profile

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Profile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HoTen)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HoTen)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GioiTinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GioiTinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgaySinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgaySinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayTaoTaiKhoan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTaoTaiKhoan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DiaChi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiaChi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgheNghiep)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgheNghiep)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DienThoai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DienThoai)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DiemTichLuy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiemTichLuy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DiemSuDung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiemSuDung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DiemConLai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiemConLai)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoBaiViet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoBaiViet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoBinhLuan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoBinhLuan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TinhTrang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TinhTrang)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Level.TenCapBac)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Level.TenCapBac)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
