﻿@model MyWeb_12110027.Models.Profile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Profile</legend>
    <div class="float-left">
            <div class="editor-label">
                @Html.LabelFor(model => model.HoTen)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.HoTen)
                @Html.ValidationMessageFor(model => model.HoTen)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.GioiTinh)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.GioiTinh)
                @Html.ValidationMessageFor(model => model.GioiTinh)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.NgaySinh)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NgaySinh)
                @Html.ValidationMessageFor(model => model.NgaySinh)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>


            <div class="editor-label">
                @Html.LabelFor(model => model.DiaChi)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DiaChi)
                @Html.ValidationMessageFor(model => model.DiaChi)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.NgheNghiep)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NgheNghiep)
                @Html.ValidationMessageFor(model => model.NgheNghiep)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.DienThoai)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DienThoai)
                @Html.ValidationMessageFor(model => model.DienThoai)
            </div>
            <p>
                <input type="submit" value="Cập nhật" />
            </p>
    </div>
    <div class="float-right">

        <div class="editor-label">
            @Html.LabelFor(model => model.NgayTaoTaiKhoan)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.NgayTaoTaiKhoan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiemTichLuy)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.DiemTichLuy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiemSuDung)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.DiemSuDung)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiemConLai)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.DiemConLai)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoBaiViet)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.SoBaiViet)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoBinhLuan)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.SoBinhLuan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TinhTrang)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.TinhTrang)
        </div>

        @Html.HiddenFor(model => model.UserProfile_UserId)

        <div class="editor-label">
            @Html.LabelFor(model => model.LevelID, "Level")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Level.TenCapBac)
        </div>
    </div>

 </fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserProfile_UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
