﻿@model MyWeb_12110027.Models.Profile

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Profile</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.HoTen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoTen)
            @Html.ValidationMessageFor(model => model.HoTen)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GioiTinh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GioiTinh)
            @Html.ValidationMessageFor(model => model.GioiTinh)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NgaySinh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NgaySinh)
            @Html.ValidationMessageFor(model => model.NgaySinh)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NgayTaoTaiKhoan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NgayTaoTaiKhoan)
            @Html.ValidationMessageFor(model => model.NgayTaoTaiKhoan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiaChi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DiaChi)
            @Html.ValidationMessageFor(model => model.DiaChi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NgheNghiep)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NgheNghiep)
            @Html.ValidationMessageFor(model => model.NgheNghiep)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DienThoai)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DienThoai)
            @Html.ValidationMessageFor(model => model.DienThoai)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiemTichLuy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DiemTichLuy)
            @Html.ValidationMessageFor(model => model.DiemTichLuy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiemSuDung)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DiemSuDung)
            @Html.ValidationMessageFor(model => model.DiemSuDung)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiemConLai)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DiemConLai)
            @Html.ValidationMessageFor(model => model.DiemConLai)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoBaiViet)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoBaiViet)
            @Html.ValidationMessageFor(model => model.SoBaiViet)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoBinhLuan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoBinhLuan)
            @Html.ValidationMessageFor(model => model.SoBinhLuan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TinhTrang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TinhTrang)
            @Html.ValidationMessageFor(model => model.TinhTrang)
        </div>

        @Html.HiddenFor(model => model.UserProfile_UserId)

        <div class="editor-label">
            @Html.LabelFor(model => model.LevelID, "Level")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LevelID", String.Empty)
            @Html.ValidationMessageFor(model => model.LevelID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
