﻿@model IEnumerable<MyWeb_12110027.Models.Post>

@{
    ViewBag.Title = "IndexDienDan";
}
@Html.Partial("_TrangCuaBanPartial")
<h2>Những chia sẻ mà bạn yêu thích</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TieuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingPost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingPost)
            </td>
            <td>
                @Html.ActionLink("Chi tiết", "DetailsYourPost", new { id = item.PostID }) |
                @Html.ActionLink("Xóa yêu thích", "Favorite", new { id = item.PostID, loai = "DienDan" })
            </td>
        </tr>
    }

</table>
