﻿@model IEnumerable<MyWeb_12110027.Models.Profile>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_TrangCuaBanPartial")
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTaoTaiKhoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgheNghiep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiemTichLuy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiemSuDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiemConLai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoBaiViet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoBinhLuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level.TenCapBac)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTaoTaiKhoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgheNghiep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiemTichLuy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiemSuDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiemConLai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoBaiViet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoBinhLuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level.TenCapBac)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserProfile_UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserProfile_UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserProfile_UserId })
        </td>
    </tr>
}

</table>
