﻿@model MyWeb_12110027.Models.Gift

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Gift</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayDoi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayDoi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TinhTrang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TinhTrang)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
