﻿@model Blog_12110027.Models.Post

@using (Html.BeginForm("Search", "Post", FormMethod.Post))
{
    <fieldset>
        Find: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </fieldset>
}