﻿@model Blog_12110027.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>
    <div>
        <b>Tags:</b>@foreach (var i in Model.Tags)
        {
            <b> @Html.ActionLink(i.Content, "Search", new { searchString = i.Content });</b>
        }
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

</fieldset>

@Html.Partial("_addComment", new Blog_12110027.Models.Comment(), ViewData);

<fieldset>
    <legend>Comment</legend>
    @foreach (var c in Model.Comments.OrderByDescending(x => x.DateCreated).Take(10))
    {
        <div class="display-label">
            Cách đây : @Html.DisplayFor(x => c.LastTime) phút <br />
            @Html.DisplayFor(x => c.Author): <b> @Html.DisplayFor(x => c.Body) </b>
        </div>
        <br />
    }
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
