﻿@model Blog_12110027.Models.Comment

<div class="display-label">
    Cách đây : @Html.DisplayFor(model => model.LastTime) phút <br />
    <b>@Html.DisplayFor(model => model.Author):</b>  @Html.DisplayFor(model => model.Body) 
</div>
<br />