﻿@model Blog_12110027.Models.Post


@using (Html.BeginForm("Search", "Post", FormMethod.Post))
{
    <fieldset>
        <div>
            Find: @Html.TextBox("searchString")
            <input type="submit" value="Search" />
        </div>
    </fieldset>
}