﻿@model MyWeb_12110027.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>

            <li>
                @Html.Label("Email:")
                @Html.TextBox("txtEmail")
            </li>
            <li>
                @Html.Label("Họ tên đầy đủ:")
                @Html.TextBox("txtHoTen")
            </li>
            <li>
                @Html.Label("Giới tính:")
                @Html.RadioButton("radGioiTinh", "NO") Nam   @Html.RadioButton("radGioiTinh", "YES") Nữ

            </li>
            <li>
                @Html.Label("Ngày sinh:")
                <input type="datetime" name="txtNgaySinh">
            </li>

            <li>
                @Html.Label("Số điện thoại:")
                @Html.TextBox("txtDienThoai")
            </li>
            <li>
                @Html.Label("Địa chỉ:")
                @Html.TextBox("txtDiaChi")
            </li>
            <li>
                @Html.Label("Nghề nghiệp:")
                @Html.TextBox("txtNgheNghiep")
            </li>


        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
