﻿@model MyWeb_12110027.Models.Comment

@using (Html.BeginForm("Create", "Comment", FormMethod.Post, new { id = "my-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Comment</legend>
        Bình luận của bạn:
        <div class="editor-field">
            <textarea cols="20" id="NoiDung" name="NoiDung" rows="2" style="width: 900px;"></textarea>
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>

        @Html.Hidden("idpost", ViewData["idpost"])
        @Html.Hidden("iduser", ViewData["iduser"])
            <input type="submit" value="Create" />
    </fieldset>
}

<script src="~/Scripts/addComment.js"></script>