﻿@model MyWeb_12110027.Models.Post

@{
    ViewBag.Title = "Details";
}
<fieldset>
    <legend>Post</legend>
    
    <div class="display-field">
        <h2> @Html.DisplayFor(model => model.Category.Name)  </h2>
    </div>
   
    <div class="display-field">
        <h1> @Html.DisplayFor(model => model.TieuDe)  </h1> 
        @Html.Raw(ViewBag.YeuThich)

    </div>
    <div class="display-field">
       Ngày viết: @Html.DisplayFor(model => model.NgayTao)
              Ngày cập nhật:@Html.DisplayFor(model => model.NgayCapNhat)
    </div>

    <div class="display-field">
        Được chia sẻ bởi: <b>@Html.DisplayFor(model => model.Profile.HoTen)</b>
    </div>
    <div class="display-field" style="text-align: justify";>
        <h3>  @Html.DisplayFor(model => model.NoiDung)</h3>
    </div>

    <h1>@ViewBag.Rating/5</h1> từ @Model.TongUserRating người dùng. <br/>
     @Html.Raw(ViewBag.YourRating)
    <h2>Bình luận:</h2>
    @Html.Partial("_addComment", new MyWeb_12110027.Models.Comment(), ViewData)
    <fieldset>
        <legend>Comment</legend>
        <div id="result">
                        @foreach (var c in Model.Comments.OrderByDescending(x => x.NgayTao).Take(10))
                        {
                                <div class="comment-show" style="border-bottom: groove;padding: 10px;">
                                    Cách đây: @Html.DisplayFor(x => c.LastTime) phút <br />
                                  <div style="font-size: larger">   <b>@Html.DisplayFor(x => c.Profile.HoTen):</b> @Html.DisplayFor(x => c.NoiDung) </div>
                                </div>
                        }
        </div>
    </fieldset>
</fieldset>
