﻿@model MyWeb_12110027.Models.Post

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        @Html.HiddenFor(model => model.PostID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TieuDe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TieuDe)
            @Html.ValidationMessageFor(model => model.TieuDe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoiDung)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>
        <div>
            @Html.HiddenFor(model => model.NgayTao)
            @Html.HiddenFor(model => model.NgayTao)
            @Html.HiddenFor(model => model.NgayCapNhat)
            @Html.HiddenFor(model => model.TongRating)
            @Html.HiddenFor(model => model.TongUserRating)
            @Html.HiddenFor(model => model.Profile_UserId)
            @Html.HiddenFor(model => model.CategoryID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
