﻿@model IEnumerable<MyWeb_12110027.Models.Post>

@{
    ViewBag.Title = "IndexPhuongPhap";
}

<h2>Phương pháp tập luyện</h2>


<p>
    @Html.ActionLink("Thêm mới bài viết", "Create", new { loai = "PhuongPhap" })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TieuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingPost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingPost)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.PostID })
            </td>
        </tr>
    }

</table>
