﻿@model IEnumerable<MyWeb_12110027.Models.Post>

@{
    ViewBag.Title = "Thực đơn giảm cân";
}

<h2>Thực đơn giảm cân</h2>

<p>
    @Html.ActionLink("Thêm mới bài viết", "Create", new { loai = "ThucDon" })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TieuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingPost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingPost)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.PostID })
            </td>
        </tr>
    }

</table>



@Styles.Render("~/Content/Style1.css")
<div class="container">
    <div class="box-border">
        @{
            int i = 1;
            foreach (var item in Model)
            {
                <div>
                    @{i++;}
                    @if (i % 2 == 0)
                    {
                        <div class="box-news-left">
                            <div class="title">
                                <h2> @Html.ActionLink("" + @Html.DisplayTextFor(modelItem => item.TieuDe) + "", "Details", new { id = item.PostID }) </h2>
                            </div>
                            <div class="info">
                                <div class="info-deltail">
                                    Ngày đăng: @Html.DisplayFor(modelItem => item.NgayTao) Được chia sẻ bởi: <div style="color: blue; display: inline;">
                                        <a href="/Account/Manage" id="account" style="color: #2185ff;"> @Html.DisplayFor(modelItem => item.Profile.HoTen) </a>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <p>
                                    <img class="Text-Wrap" src="../../Images/z3_eyes-640x360.jpg" width="200" height="130" />
                                    @{if(item.NoiDung.Length<250)
                                      {
                                          @Html.DisplayFor(modelItem => item.NoiDung)
                                    }
                                      else
                                      {
                                          @Html.DisplayFor(modelItem => item.NoiDung).ToString().Substring(0,250)
                                      }
};
                                </p>
                            </div>
                            <div class="other" style="border-top: 1px solid #d3d3d3; padding: 10px; padding-top: 7px; text-align:right;">
                                @Html.ActionLink("Chi tiết", "Details", new { id = item.PostID })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="box-news-right">
                            <div class="title">
                                <h2> @Html.ActionLink("" + @Html.DisplayFor(modelItem => item.TieuDe) + "", "Details", new { id = item.PostID }) </h2>
                            </div>
                            <div class="info">
                                <div class="info-deltail">
                                    Ngày đăng: @Html.DisplayFor(modelItem => item.NgayTao) Được chia sẻ bởi: <div style="color: blue; display: inline;">
                                        <a href="/Account/Manage" id="account" style="color: #2185ff;"> @Html.DisplayFor(modelItem => item.Profile.HoTen) </a>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <p>
                                    <img class="Text-Wrap" src="../../Images/z3_eyes-640x360.jpg" width="200" height="130" />@Html.DisplayFor(modelItem => item.Profile.HoTen).ToString().Take(100)
                                </p>
                            </div>
                            <div class="other" style="border-top: 1px solid #d3d3d3; padding: 10px; padding-top: 7px; text-align:right;">
                                @Html.ActionLink("Chi tiết", "Details", new { id = item.PostID })
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
</div>

