﻿@model MyWeb_12110027.Models.Comment

<div class="display-label" style="border-bottom: groove;padding: 10px;">
    Cách đây : @Html.DisplayFor(model => model.LastTime) phút <br />
    <div style="font-size: larger">
        <b>@ViewBag.HoTen:</b>  @Html.DisplayFor(model => model.NoiDung)
    </div>
</div>
