﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <img src="~/Images/fat_captain_america_wallpaper_by_eimrehs-other.jpg" width="100" height="159" />
                <img src="~/Images/spider_man_by_eimrehs-d2m6768.jpg" width="100" height="159" />
                <p class="site-title">@Html.ActionLink("NguoiThuaCan.com", "Index", "Home")</p>
            </div>
            <section id="login">
                @Html.Partial("_LoginPartial")
            </section>
            <div class="float-right">
                
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Thực đơn giảm cân", "IndexThucDon", "Post")</li>
                        <li>@Html.ActionLink("Phương pháp tập luyện", "IndexPhuongPhap", "Post")</li>
                        <li>@Html.ActionLink("Video", "IndexVideo", "Post")</li>
                        <li>@Html.ActionLink("Diễn đàn", "IndexDienDan", "Post")</li>
                        <li>@Html.ActionLink("Trang của bạn", "IndexThucDon", "Profile")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>


    @RenderSection("scripts", required: false)
</body>
</html>
