﻿<h2>Trang của bạn</h2>
<ul id="menu">
    <li>@Html.ActionLink("Thực đơn yêu thích", "IndexThucDon", "Profile")</li>
    <li>@Html.ActionLink("Phương pháp tập luyện yêu thích", "IndexPhuongPhap", "Profile")</li>
    <li>@Html.ActionLink("Những chia sẻ yêu thích", "IndexDienDan", "Profile")</li>
    <li>@Html.ActionLink("Bài viết của bạn", "BaiVietCuaBan", "Profile")</li>
    <li>@Html.ActionLink("Cài đặt chung", "Details", "Profile")</li>
</ul>