﻿@model MyWeb_12110027.Models.Admin

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Admin</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GioiThieu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GioiThieu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LienKetFacebook)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LienKetFacebook)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LienKetTwitter)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LienKetTwitter)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LienKetGooglePlus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LienKetGooglePlus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LienKetYoutube)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LienKetYoutube)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HinhAnhCuaNgay)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HinhAnhCuaNgay)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
