﻿@model MyWeb_12110027.Models.Admin

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Admin</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GioiThieu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GioiThieu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LienKetFacebook)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LienKetFacebook)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LienKetTwitter)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LienKetTwitter)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LienKetGooglePlus)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LienKetGooglePlus)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LienKetYoutube)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LienKetYoutube)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HinhAnhCuaNgay)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HinhAnhCuaNgay)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
