﻿@model MyWeb_12110027.Models.Admin

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Admin</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.GioiThieu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GioiThieu)
            @Html.ValidationMessageFor(model => model.GioiThieu)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LienKetFacebook)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LienKetFacebook)
            @Html.ValidationMessageFor(model => model.LienKetFacebook)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LienKetTwitter)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LienKetTwitter)
            @Html.ValidationMessageFor(model => model.LienKetTwitter)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LienKetGooglePlus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LienKetGooglePlus)
            @Html.ValidationMessageFor(model => model.LienKetGooglePlus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LienKetYoutube)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LienKetYoutube)
            @Html.ValidationMessageFor(model => model.LienKetYoutube)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HinhAnhCuaNgay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HinhAnhCuaNgay)
            @Html.ValidationMessageFor(model => model.HinhAnhCuaNgay)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
