﻿@model IEnumerable<MyWeb_12110027.Models.Admin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GioiThieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LienKetFacebook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LienKetTwitter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LienKetGooglePlus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LienKetYoutube)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnhCuaNgay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GioiThieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LienKetFacebook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LienKetTwitter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LienKetGooglePlus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LienKetYoutube)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnhCuaNgay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
