﻿.container
{
    width: 100%;
    max-height: 999999em;
   
}
.box-news-left
{
    max-height: 999999em;
    width: 47%;
    border: 1px solid #d3d3d3;
    float: left;
    background: #F9F9F9;
    box-shadow: 0px 0.5px 0.5px 0.5px #e8e8e8;
}
.box-news-right
{
    max-height: 999999em;
    width: 47%;
    border: 1px solid #d3d3d3;
    float: right;
    background: #F9F9F9;
    box-shadow: 0px 0.5px 0.5px 0.5px #e8e8e8;
}
.title
{
    border-bottom: 1px solid #d3d3d3;
    padding-left: 10px;
    padding-top: 5px;
    box-shadow: 0px 0.5px 0.5px 0.5px #e8e8e8;
}
h2
{
    margin-top: 7px;
    margin-bottom: 7px;
}
.info
{
    border-bottom: 1px solid #d3d3d3;
    max-height: 999999em;
    padding: 10px;
    font-style:italic;
    box-shadow: 0px 0.5px 0.5px 0.5px #e8e8e8;
}

.content
{
    word-wrap:break-word;
    padding: 10px;
    max-height: 999999em;
}
p
{
    margin-top: 0px;
    font-size: 15px;
    line-height: 1.8em;
    text-align: justify;
}
.Text-Wrap
{
    float:left;
    margin: 10px;
}
.box-border
{
    clear:both;
    padding-top: 3%;
    max-height: 999999em;
}